<a href="https://colab.research.google.com/github/CalebAduu/CalebAduu/blob/main/StockMarket.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install tpot

Collecting tpot
  Downloading TPOT-0.11.7-py3-none-any.whl (87 kB)
     |████████████████████████████████| 87 kB 5.7 MB/s
Collecting deap>=1.2
  Downloading deap-1.3.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (160 kB)
     |████████████████████████████████| 160 kB 45.3 MB/s
Collecting xgboost>=1.1.0
  Downloading xgboost-1.4.2-py3-none-manylinux2010_x86_64.whl (166.7 MB)
     |████████████████████████████████| 166.7 MB 10 kB/s
Collecting stopit>=1.1.1
  Downloading stopit-1.1.2.tar.gz (18 kB)
Collecting update-checker>=0.16
  Downloading update_checker-0.18.0-py3-none-any.whl (7.0 kB)
Requirement already satisfied: scipy>=1.3.1 in /usr/local/lib/python3.7/dist-packages (from tpot) (1.4.1)
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.7/dist-packages (from tpot) (4.62.2)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from tpot) (0.22.2.post1)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from tpot) (1.1.5)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from tpot) (1.0.1)
Requirement already satisfied: numpy>=1.16.3 in /usr/local/lib/python3.7/dist-packages (from tpot) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->tpot) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->tpot) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->tpot) (1.15.0)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from update-checker>=0.16->tpot) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.24.3)
Building wheels for collected packages: stopit
  Building wheel for stopit (setup.py) ... done
  Created wheel for stopit: filename=stopit-1.1.2-py3-none-any.whl size=11952 sha256=9da448fff9202a60d91758d228a4eccdf9da555c45a7a5831593b4363b4bd827
  Stored in directory: /root/.cache/pip/wheels/e2/d2/79/eaf81edb391e27c87f51b8ef901ecc85a5363dc96b8b8d71e3
Successfully built stopit
Installing collected packages: xgboost, update-checker, stopit, deap, tpot
  Attempting uninstall: xgboost
    Found existing installation: xgboost 0.90
    Uninstalling xgboost-0.90:
      Successfully uninstalled xgboost-0.90
Successfully installed deap-1.3.1 stopit-1.1.2 tpot-0.11.7 update-checker-0.18.0 xgboost-1.4.2

In [ ]:
import pandas as pd
import numpy as np
import sklearn.datasets
from sklearn.model_selection import train_test_split



from tpot import TPOTClassifier

In [ ]:
from google.colab import files



uploaded = files.upload()

Saving indexData.csv to indexData.csv

In [ ]:
train_features = pd.read_csv('indexData.csv')
test_features = pd.read_csv('indexData.csv')

In [ ]:
print('Training features shape: ', train_features.shape)
print('Testing features shape: ', test_features.shape)

Training features shape:  (112457, 8)
Testing features shape:  (112457, 8)

In [ ]:
train_features.head()

         Date        Open        High  ...       Close   Adj Close  Volume
0  1965-12-31  528.690002  528.690002  ...  528.690002  528.690002     0.0
1  1966-01-03  527.210022  527.210022  ...  527.210022  527.210022     0.0
2  1966-01-04  527.840027  527.840027  ...  527.840027  527.840027     0.0
3  1966-01-05  531.119995  531.119995  ...  531.119995  531.119995     0.0
4  1966-01-06  532.070007  532.070007  ...  532.070007  532.070007     0.0

[5 rows x 7 columns]

In [ ]:
X = train_features.drop(['Close'], axis=1)
Y = train_features['Close']

In [ ]:
print(X)
print(Y)

       Index        Date         Open  ...          Low    Adj Close       Volume
0        NYA  1965-12-31   528.690002  ...   528.690002   528.690002          0.0
1        NYA  1966-01-03   527.210022  ...   527.210022   527.210022          0.0
2        NYA  1966-01-04   527.840027  ...   527.840027   527.840027          0.0
3        NYA  1966-01-05   531.119995  ...   531.119995   531.119995          0.0
4        NYA  1966-01-06   532.070007  ...   532.070007   532.070007          0.0
...      ...         ...          ...  ...          ...          ...          ...
112452  N100  2021-05-27  1241.119995  ...  1241.119995  1247.069946  379696400.0
112453  N100  2021-05-28  1249.469971  ...  1249.030029  1256.599976  160773400.0
112454  N100  2021-05-31  1256.079956  ...  1248.140015  1248.930054   91173700.0
112455  N100  2021-06-01  1254.609985  ...  1254.609985  1258.579956  155179900.0
112456  N100  2021-06-02  1258.489990  ...  1258.239990  1263.619995  148465000.0

[112457 rows x 7 columns]
0          528.690002
1          527.210022
2          527.840027
3          531.119995
4          532.070007
             ...
112452    1247.069946
112453    1256.599976
112454    1248.930054
112455    1258.579956
112456    1263.619995
Name: Close, Length: 112457, dtype: float64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(112457, 7) (89965, 7) (22492, 7)

In [ ]:
print(Y.shape, Y_train.shape, Y_test.shape)

(112457,) (89965,) (22492,)

In [ ]:
tpot = TPOTClassifier(scoring = 'accuracy',
                    max_time_mins = 480,
                    population_size = 50,
                    n_jobs = -1,
                    random_state = 1,
                    generations = 5,
                    verbosity = 2,
                     cv = 10)

In [ ]:
tpot.fit(training_features, training_targets)

AttributeError: ignored