<a href="https://colab.research.google.com/github/CalebAduu/CalebAduu/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib as pyplot

In [15]:
from google.colab import files
uploaded = files.upload()

Saving indexData.csv to indexData.csv

In [20]:
df = pd.read_csv('indexData.csv', encoding = 'latin-1')

In [22]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [23]:
grouped = df.groupby('Element')
for element, group in grouped:
    print("Element:", element)
    print(group)
    print()

Element: Domestic supply quantity
       Area Code      Area  Item Code                      Item  Element Code  \
1              4   Algeria       2501                Population          5301
15             4   Algeria       2905  Cereals - Excluding Beer          5301
31             4   Algeria       2511        Wheat and products          5301
47             4   Algeria       2805         Rice and products          5301
62             4   Algeria       2513       Barley and products          5301
...          ...       ...        ...                       ...           ...
60898        181  Zimbabwe       2769   Aquatic Animals, Others          5301
60906        181  Zimbabwe       2775            Aquatic Plants          5301
60916        181  Zimbabwe       2928             Miscellaneous          5301
60926        181  Zimbabwe       2680               Infant food          5301
60936        181  Zimbabwe       2899             Miscellaneous          5301

                        Element         Unit     Y2014    Y2015    Y2016  \
1      Domestic supply quantity  1000 tonnes      0.00      0.0      0.0
15     Domestic supply quantity  1000 tonnes  15353.00  16075.0  16056.0
31     Domestic supply quantity  1000 tonnes   9407.00   9780.0   9958.0
47     Domestic supply quantity  1000 tonnes    163.00    166.0    167.0
62     Domestic supply quantity  1000 tonnes   1702.00   1746.0   1781.0
...                         ...          ...       ...      ...      ...
60898  Domestic supply quantity  1000 tonnes      0.01      0.0      0.0
60906  Domestic supply quantity  1000 tonnes      0.00      0.0      0.0
60916  Domestic supply quantity  1000 tonnes     41.00     46.0     33.0
60926  Domestic supply quantity  1000 tonnes      0.00      0.0      0.0
60936  Domestic supply quantity  1000 tonnes     42.00     46.0     33.0

         Y2017    Y2018
1          0.0      0.0
15     15803.0  17004.0
31      9987.0  10472.0
47       173.0    170.0
62      1521.0   2225.0
...        ...      ...
60898      0.0      0.0
60906      0.0      0.0
60916     19.0     16.0
60926      0.0      0.0
60936     19.0     16.0

[5295 rows x 12 columns]

Element: Export Quantity
       Area Code      Area  Item Code                      Item  Element Code  \
14             4   Algeria       2905  Cereals - Excluding Beer          5911
30             4   Algeria       2511        Wheat and products          5911
46             4   Algeria       2805         Rice and products          5911
61             4   Algeria       2513       Barley and products          5911
76             4   Algeria       2514        Maize and products          5911
...          ...       ...        ...                       ...           ...
60864        181  Zimbabwe       2765               Crustaceans          5911
60881        181  Zimbabwe       2767           Molluscs, Other          5911
60915        181  Zimbabwe       2928             Miscellaneous          5911
60925        181  Zimbabwe       2680               Infant food          5911
60935        181  Zimbabwe       2899             Miscellaneous          5911

               Element         Unit  Y2014  Y2015  Y2016  Y2017  Y2018
14     Export Quantity  1000 tonnes    3.0    7.0   7.00   10.0   17.0
30     Export Quantity  1000 tonnes    3.0    7.0   6.00   10.0   17.0
46     Export Quantity  1000 tonnes    NaN    0.0   0.00    0.0    0.0
61     Export Quantity  1000 tonnes    NaN    0.0   0.00    NaN    0.0
76     Export Quantity  1000 tonnes    0.0    0.0   0.00    0.0    0.0
...                ...          ...    ...    ...    ...    ...    ...
60864  Export Quantity  1000 tonnes    0.0    0.0   0.02    0.0    0.0
60881  Export Quantity  1000 tonnes    0.0    0.0   0.01    0.0    0.0
60915  Export Quantity  1000 tonnes    1.0    1.0   1.00    1.0    1.0
60925  Export Quantity  1000 tonnes    0.0    0.0   0.00    0.0    0.0
60935  Export Quantity  1000 tonnes    1.0    1.0   0.00    0.0    1.0

[4403 rows x 12 columns]

Element: Fat supply quantity (g/capita/day)
       Area Code      Area  Item Code                      Item  Element Code  \
4              4   Algeria       2901               Grand Total           684
7              4   Algeria       2903          Vegetal Products           684
10             4   Algeria       2941           Animal Products           684
26             4   Algeria       2905  Cereals - Excluding Beer           684
42             4   Algeria       2511        Wheat and products           684
...          ...       ...        ...                       ...           ...
60904        181  Zimbabwe       2769   Aquatic Animals, Others           684
60912        181  Zimbabwe       2775            Aquatic Plants           684
60922        181  Zimbabwe       2928             Miscellaneous           684
60932        181  Zimbabwe       2680               Infant food           684
60942        181  Zimbabwe       2899             Miscellaneous           684

                                  Element          Unit  Y2014  Y2015  Y2016  \
4      Fat supply quantity (g/capita/day)  g/capita/day  80.06  79.36  77.40
7      Fat supply quantity (g/capita/day)  g/capita/day  53.84  54.72  52.04
10     Fat supply quantity (g/capita/day)  g/capita/day  26.22  24.64  25.37
26     Fat supply quantity (g/capita/day)  g/capita/day   6.84   6.78   6.83
42     Fat supply quantity (g/capita/day)  g/capita/day   5.39   5.31   5.37
...                                   ...           ...    ...    ...    ...
60904  Fat supply quantity (g/capita/day)  g/capita/day   0.00   0.00   0.00
60912  Fat supply quantity (g/capita/day)  g/capita/day   0.00   0.00   0.00
60922  Fat supply quantity (g/capita/day)  g/capita/day   0.04   0.05   0.03
60932  Fat supply quantity (g/capita/day)  g/capita/day   0.00   0.00   0.00
60942  Fat supply quantity (g/capita/day)  g/capita/day   0.04   0.05   0.03

       Y2017  Y2018
4      80.19  77.28
7      55.59  54.57
10     24.60  22.71
26      6.63   6.58
42      5.25   5.12
...      ...    ...
60904   0.00   0.00
60912   0.00   0.00
60922   0.02   0.02
60932   0.00   0.00
60942   0.02   0.01

[5023 rows x 12 columns]

Element: Feed
       Area Code      Area  Item Code                      Item  Element Code  \
16             4   Algeria       2905  Cereals - Excluding Beer          5521
32             4   Algeria       2511        Wheat and products          5521
48             4   Algeria       2805         Rice and products          5521
63             4   Algeria       2513       Barley and products          5521
78             4   Algeria       2514        Maize and products          5521
...          ...       ...        ...                       ...           ...
60706        181  Zimbabwe       2740              Butter, Ghee          5521
60787        181  Zimbabwe       2948   Milk - Excluding Butter          5521
60801        181  Zimbabwe       2848   Milk - Excluding Butter          5521
60815        181  Zimbabwe       2960             Fish, Seafood          5521
60845        181  Zimbabwe       2763              Pelagic Fish          5521

      Element         Unit    Y2014    Y2015    Y2016    Y2017    Y2018
16       Feed  1000 tonnes  4725.00  5070.00  4838.00  4667.00  5266.00
32       Feed  1000 tonnes   550.00   592.00   584.00   587.00   665.00
48       Feed  1000 tonnes     5.00     1.00     1.00     2.00     0.00
63       Feed  1000 tonnes  1028.00  1075.00  1082.00   909.00  1400.00
78       Feed  1000 tonnes  3077.00  3309.00  3084.00  3102.00  3090.00
...       ...          ...      ...      ...      ...      ...      ...
60706    Feed  1000 tonnes     0.00     0.00     0.00     0.00     0.00
60787    Feed  1000 tonnes     7.00     8.00     7.00     6.00     6.00
60801    Feed  1000 tonnes     7.00     8.00     7.00     6.00     6.00
60815    Feed  1000 tonnes     7.25     7.04     4.37     0.66     0.66
60845    Feed  1000 tonnes     7.25     7.04     4.37     0.66     0.66

[1319 rows x 12 columns]

Element: Food
       Area Code      Area  Item Code                      Item  Element Code  \
22             4   Algeria       2905  Cereals - Excluding Beer          5142
38             4   Algeria       2511        Wheat and products          5142
53             4   Algeria       2805         Rice and products          5142
68             4   Algeria       2513       Barley and products          5142
83             4   Algeria       2514        Maize and products          5142
...          ...       ...        ...                       ...           ...
60900        181  Zimbabwe       2769   Aquatic Animals, Others          5142
60908        181  Zimbabwe       2775            Aquatic Plants          5142
60918        181  Zimbabwe       2928             Miscellaneous          5142
60928        181  Zimbabwe       2680               Infant food          5142
60938        181  Zimbabwe       2899             Miscellaneous          5142

      Element         Unit    Y2014   Y2015   Y2016   Y2017   Y2018
22       Food  1000 tonnes  8546.00  8729.0  9001.0  8941.0  9219.0
38       Food  1000 tonnes  7258.00  7425.0  7670.0  7701.0  7795.0
53       Food  1000 tonnes   158.00   164.0   166.0   171.0   170.0
68       Food  1000 tonnes   488.00   478.0   486.0   416.0   621.0
83       Food  1000 tonnes   640.00   657.0   669.0   644.0   628.0
...       ...          ...      ...     ...     ...     ...     ...
60900    Food  1000 tonnes     0.01     0.0     0.0     0.0     0.0
60908    Food  1000 tonnes     0.00     0.0     0.0     0.0     0.0
60918    Food  1000 tonnes    42.00    46.0    33.0    19.0    16.0
60928    Food  1000 tonnes     0.00     0.0     0.0     0.0     0.0
60938    Food  1000 tonnes    42.00    46.0    33.0    19.0    16.0

[4941 rows x 12 columns]

Element: Food supply (kcal/capita/day)
       Area Code      Area  Item Code                      Item  Element Code  \
2              4   Algeria       2901               Grand Total           664
5              4   Algeria       2903          Vegetal Products           664
8              4   Algeria       2941           Animal Products           664
24             4   Algeria       2905  Cereals - Excluding Beer           664
40             4   Algeria       2511        Wheat and products           664
...          ...       ...        ...                       ...           ...
60902        181  Zimbabwe       2769   Aquatic Animals, Others           664
60910        181  Zimbabwe       2775            Aquatic Plants           664
60920        181  Zimbabwe       2928             Miscellaneous           664
60930        181  Zimbabwe       2680               Infant food           664
60940        181  Zimbabwe       2899             Miscellaneous           664

                             Element             Unit   Y2014   Y2015   Y2016  \
2      Food supply (kcal/capita/day)  kcal/capita/day  3377.0  3379.0  3372.0
5      Food supply (kcal/capita/day)  kcal/capita/day  2932.0  2958.0  2941.0
8      Food supply (kcal/capita/day)  kcal/capita/day   444.0   421.0   431.0
24     Food supply (kcal/capita/day)  kcal/capita/day  1680.0  1682.0  1699.0
40     Food supply (kcal/capita/day)  kcal/capita/day  1432.0  1435.0  1453.0
...                              ...              ...     ...     ...     ...
60902  Food supply (kcal/capita/day)  kcal/capita/day     0.0     0.0     0.0
60910  Food supply (kcal/capita/day)  kcal/capita/day     0.0     0.0     0.0
60920  Food supply (kcal/capita/day)  kcal/capita/day     3.0     4.0     3.0
60930  Food supply (kcal/capita/day)  kcal/capita/day     0.0     0.0     0.0
60940  Food supply (kcal/capita/day)  kcal/capita/day     3.0     4.0     3.0

        Y2017   Y2018
2      3341.0  3322.0
5      2921.0  2932.0
8       421.0   390.0
24     1656.0  1672.0
40     1430.0  1419.0
...       ...     ...
60902     0.0     0.0
60910     0.0     0.0
60920     2.0     1.0
60930     0.0     0.0
60940     1.0     1.0

[5014 rows x 12 columns]

Element: Food supply quantity (kg/capita/yr)
       Area Code      Area  Item Code                      Item  Element Code  \
23             4   Algeria       2905  Cereals - Excluding Beer           645
39             4   Algeria       2511        Wheat and products           645
54             4   Algeria       2805         Rice and products           645
69             4   Algeria       2513       Barley and products           645
84             4   Algeria       2514        Maize and products           645
...          ...       ...        ...                       ...           ...
60901        181  Zimbabwe       2769   Aquatic Animals, Others           645
60909        181  Zimbabwe       2775            Aquatic Plants           645
60919        181  Zimbabwe       2928             Miscellaneous           645
60929        181  Zimbabwe       2680               Infant food           645
60939        181  Zimbabwe       2899             Miscellaneous           645

                                   Element Unit   Y2014   Y2015   Y2016  \
23     Food supply quantity (kg/capita/yr)   kg  219.56  219.72  221.98
39     Food supply quantity (kg/capita/yr)   kg  186.46  186.90  189.14
54     Food supply quantity (kg/capita/yr)   kg    4.07    4.14    4.09
69     Food supply quantity (kg/capita/yr)   kg   12.54   12.03   11.98
84     Food supply quantity (kg/capita/yr)   kg   16.44   16.55   16.49
...                                    ...  ...     ...     ...     ...
60901  Food supply quantity (kg/capita/yr)   kg    0.00    0.00    0.00
60909  Food supply quantity (kg/capita/yr)   kg    0.00    0.00    0.00
60919  Food supply quantity (kg/capita/yr)   kg    3.06    3.33    2.35
60929  Food supply quantity (kg/capita/yr)   kg    0.00    0.00    0.00
60939  Food supply quantity (kg/capita/yr)   kg    3.06    3.33    2.35

        Y2017   Y2018
23     216.02  218.31
39     186.07  184.58
54       4.14    4.03
69      10.05   14.70
84      15.57   14.86
...       ...     ...
60901    0.00    0.00
60909    0.00    0.00
60919    1.34    1.09
60929    0.00    0.01
60939    1.33    1.08

[4905 rows x 12 columns]

Element: Import Quantity
       Area Code      Area  Item Code                      Item  Element Code  \
12             4   Algeria       2905  Cereals - Excluding Beer          5611
28             4   Algeria       2511        Wheat and products          5611
44             4   Algeria       2805         Rice and products          5611
59             4   Algeria       2513       Barley and products          5611
74             4   Algeria       2514        Maize and products          5611
...          ...       ...        ...                       ...           ...
60897        181  Zimbabwe       2769   Aquatic Animals, Others          5611
60905        181  Zimbabwe       2775            Aquatic Plants          5611
60913        181  Zimbabwe       2928             Miscellaneous          5611
60923        181  Zimbabwe       2680               Infant food          5611
60933        181  Zimbabwe       2899             Miscellaneous          5611

               Element         Unit     Y2014    Y2015    Y2016    Y2017  \
12     Import Quantity  1000 tonnes  12604.00  13983.0  13523.0  13039.0
28     Import Quantity  1000 tonnes   7461.00   8531.0   8255.0   8105.0
44     Import Quantity  1000 tonnes    171.00    164.0    162.0    190.0
59     Import Quantity  1000 tonnes    805.00    797.0    916.0    567.0
74     Import Quantity  1000 tonnes   4148.00   4450.0   4159.0   4161.0
...                ...          ...       ...      ...      ...      ...
60897  Import Quantity  1000 tonnes      0.01      0.0      0.0      0.0
60905  Import Quantity  1000 tonnes      0.00      0.0      0.0      0.0
60913  Import Quantity  1000 tonnes     42.00     47.0     34.0     15.0
60923  Import Quantity  1000 tonnes      0.00      0.0      0.0      0.0
60933  Import Quantity  1000 tonnes     42.00     47.0     33.0     15.0

         Y2018
12     13182.0
28      8434.0
44       207.0
59       402.0
74      4126.0
...        ...
60897      0.0
60905      0.0
60913     16.0
60923      0.0
60933     16.0

[5139 rows x 12 columns]

Element: Losses
       Area Code      Area  Item Code                      Item  Element Code  \
18             4   Algeria       2905  Cereals - Excluding Beer          5123
34             4   Algeria       2511        Wheat and products          5123
50             4   Algeria       2805         Rice and products          5123
65             4   Algeria       2513       Barley and products          5123
80             4   Algeria       2514        Maize and products          5123
...          ...       ...        ...                       ...           ...
60729        181  Zimbabwe       2737        Fats, Animals, Raw          5123
60760        181  Zimbabwe       2949                      Eggs          5123
60774        181  Zimbabwe       2744                      Eggs          5123
60788        181  Zimbabwe       2948   Milk - Excluding Butter          5123
60802        181  Zimbabwe       2848   Milk - Excluding Butter          5123

      Element         Unit   Y2014   Y2015   Y2016   Y2017   Y2018
18     Losses  1000 tonnes  1084.0  1203.0  1148.0  1121.0  1253.0
34     Losses  1000 tonnes   690.0   781.0   747.0   736.0   868.0
50     Losses  1000 tonnes     0.0     0.0     0.0     0.0     0.0
65     Losses  1000 tonnes   103.0   107.0   108.0    91.0    89.0
80     Losses  1000 tonnes   288.0   309.0   288.0   290.0   289.0
...       ...          ...     ...     ...     ...     ...     ...
60729  Losses  1000 tonnes     0.0     0.0     0.0     0.0     0.0
60760  Losses  1000 tonnes     3.0     2.0     2.0     2.0     2.0
60774  Losses  1000 tonnes     3.0     2.0     2.0     2.0     2.0
60788  Losses  1000 tonnes    39.0    39.0    39.0    38.0    39.0
60802  Losses  1000 tonnes    39.0    39.0    39.0    38.0    39.0

[2009 rows x 12 columns]

Element: Other uses (non-food)
       Area Code      Area  Item Code                      Item  Element Code  \
20             4   Algeria       2905  Cereals - Excluding Beer          5154
36             4   Algeria       2511        Wheat and products          5154
150            4   Algeria       2907             Starchy Roots          5154
174            4   Algeria       2531     Potatoes and products          5154
228            4   Algeria       2909        Sugar & Sweeteners          5154
...          ...       ...        ...                       ...           ...
60874        181  Zimbabwe       2766               Cephalopods          5154
60883        181  Zimbabwe       2767           Molluscs, Other          5154
60891        181  Zimbabwe       2961   Aquatic Products, Other          5154
60899        181  Zimbabwe       2769   Aquatic Animals, Others          5154
60907        181  Zimbabwe       2775            Aquatic Plants          5154

                     Element         Unit  Y2014  Y2015  Y2016  Y2017  Y2018
20     Other uses (non-food)  1000 tonnes  787.0  847.0  835.0  840.0  951.0
36     Other uses (non-food)  1000 tonnes  787.0  847.0  835.0  840.0  951.0
150    Other uses (non-food)  1000 tonnes  572.0  559.0  577.0  566.0  570.0
174    Other uses (non-food)  1000 tonnes  572.0  559.0  577.0  566.0  570.0
228    Other uses (non-food)  1000 tonnes  209.0  227.0  221.0  252.0  307.0
...                      ...          ...    ...    ...    ...    ...    ...
60874  Other uses (non-food)  1000 tonnes    0.0    0.0    0.0    0.0    0.0
60883  Other uses (non-food)  1000 tonnes    0.0    0.0    0.0    0.0    0.0
60891  Other uses (non-food)  1000 tonnes    0.0    0.0    0.0    0.0    0.0
60899  Other uses (non-food)  1000 tonnes    0.0    0.0    0.0    0.0    0.0
60907  Other uses (non-food)  1000 tonnes    0.0    0.0    0.0    0.0    0.0

[1732 rows x 12 columns]

Element: Processing

In [34]:
# Filter the dataset for the year 2017
df_2017 = df[df['Y2017'] == 2017]

# Convert numeric columns to float and handle non-numeric values
df_2017_numeric = df_2017.apply(pd.to_numeric, errors='coerce')

# Remove rows with non-numeric values
df_2017_numeric = df_2017_numeric.dropna()

# Calculate the mean and standard deviation for the filtered dataset
mean_2017 = df_2017_numeric.mean().round(2)
std_2017 = df_2017_numeric.std().round(2)

# Display the mean and standard deviation
print("Mean (2017):\n", mean_2017)
print("\nStandard Deviation (2017):\n", std_2017)

TypeError: ignored

In [35]:
selected_columns = df[['Y2017', 'Area']]

# Perform a groupby operation on 'Area'
grouped_data = selected_columns.groupby('Area')

# Display the grouped data
for area, data in grouped_data:
    print("Area:", area)
    print(data)
    print("\n")

Area: Algeria
         Y2017     Area
0     41389.00  Algeria
1         0.00  Algeria
2      3341.00  Algeria
3        92.82  Algeria
4        80.19  Algeria
...        ...      ...
1308     80.00  Algeria
1309      1.93  Algeria
1310      2.00  Algeria
1311      0.06  Algeria
1312      0.03  Algeria

[1313 rows x 2 columns]


Area: Angola
         Y2017    Area
1313  29817.00  Angola
1314      0.00  Angola
1315   2373.00  Angola
1316     52.02  Angola
1317     60.04  Angola
...        ...     ...
2732     37.00  Angola
2733      1.25  Angola
2734      1.00  Angola
2735      0.04  Angola
2736      0.02  Angola

[1424 rows x 2 columns]


Area: Benin
         Y2017   Area
2737  11175.00  Benin
2738      0.00  Benin
2739   2756.00  Benin
2740     64.22  Benin
2741     50.61  Benin
...        ...    ...
4017     23.00  Benin
4018      2.05  Benin
4019      2.00  Benin
4020      0.07  Benin
4021      0.03  Benin

[1285 rows x 2 columns]


Area: Botswana
        Y2017      Area
4022  2205.00  Botswana
4023     0.00  Botswana
4024  2341.00  Botswana
4025    64.66  Botswana
4026    64.26  Botswana
...       ...       ...
5395    32.00  Botswana
5396    14.40  Botswana
5397    16.00  Botswana
5398     0.47  Botswana
5399     0.20  Botswana

[1378 rows x 2 columns]


Area: Burkina Faso
         Y2017          Area
5400  19193.00  Burkina Faso
5401      0.00  Burkina Faso
5402   2721.00  Burkina Faso
5403     77.68  Burkina Faso
5404     68.82  Burkina Faso
...        ...           ...
6804     31.00  Burkina Faso
6805      1.62  Burkina Faso
6806      2.00  Burkina Faso
6807      0.05  Burkina Faso
6808      0.02  Burkina Faso

[1409 rows x 2 columns]


Area: Cabo Verde
        Y2017        Area
6809   537.00  Cabo Verde
6810     0.00  Cabo Verde
6811  2530.00  Cabo Verde
6812    70.61  Cabo Verde
6813    65.57  Cabo Verde
...       ...         ...
8064     5.00  Cabo Verde
8065     9.71  Cabo Verde
8066    11.00  Cabo Verde
8067     0.32  Cabo Verde
8068     0.13  Cabo Verde

[1260 rows x 2 columns]


Area: Cameroon
         Y2017      Area
8069  24566.00  Cameroon
8070      0.00  Cameroon
8071   2717.00  Cameroon
8072     71.05  Cameroon
8073     55.62  Cameroon
...        ...       ...
9524     18.00  Cameroon
9525      0.72  Cameroon
9526      1.00  Cameroon
9527      0.02  Cameroon
9528      0.01  Cameroon

[1460 rows x 2 columns]


Area: Central African Republic
         Y2017                      Area
9529   4596.00  Central African Republic
9530      0.00  Central African Republic
9531   1799.00  Central African Republic
9532     46.13  Central African Republic
9533     57.81  Central African Republic
...        ...                       ...
10868     2.00  Central African Republic
10869     0.46  Central African Republic
10870     1.00  Central African Republic
10871     0.01  Central African Republic
10872     0.01  Central African Republic

[1344 rows x 2 columns]


Area: Chad
          Y2017  Area
10873  15017.00  Chad
10874      0.00  Chad
10875   2132.00  Chad
10876     62.85  Chad
10877     54.75  Chad
...         ...   ...
12211      7.00  Chad
12212      0.48  Chad
12213      1.00  Chad
12214      0.02  Chad
12215      0.01  Chad

[1343 rows x 2 columns]


Area: Comoros
       Y2017     Area
12216   0.00  Comoros
12217   0.00  Comoros
12218   0.00  Comoros
12219   0.00  Comoros
12220   0.00  Comoros
12221   0.00  Comoros
12222   0.00  Comoros
12223   0.00  Comoros
12224   0.00  Comoros
12225   0.04  Comoros
12226   0.04  Comoros
12227   0.00  Comoros
12228   0.04  Comoros
12229   0.80  Comoros
12230   0.02  Comoros
12231   0.82  Comoros
12232   0.00  Comoros
12233   0.82  Comoros
12234  14.14  Comoros
12235   2.51  Comoros
12236   0.00  Comoros
12237  16.65  Comoros
12238   0.00  Comoros
12239   6.50  Comoros
12240  10.15  Comoros
12241   2.05  Comoros
12242   0.25  Comoros
12243   0.00  Comoros
12244   2.31  Comoros
12245   1.00  Comoros
12246   1.31  Comoros
12247   0.03  Comoros
12248   0.00  Comoros
12249   0.00  Comoros
12250   0.03  Comoros
12251   0.00  Comoros
12252   0.03  Comoros
12253   0.00  Comoros
12254   0.00  Comoros
12255   0.00  Comoros
12256   0.00  Comoros
12257   0.10  Comoros
12258   0.10  Comoros
12259   0.00  Comoros
12260   0.10  Comoros


Area: Congo
         Y2017   Area
12261  5111.00  Congo
12262     0.00  Congo
12263  2244.00  Congo
12264    56.85  Congo
12265    48.56  Congo
...        ...    ...
13669     9.00  Congo
13670     1.67  Congo
13671     2.00  Congo
13672     0.06  Congo
13673     0.02  Congo

[1413 rows x 2 columns]


Area: Côte d'Ivoire
          Y2017           Area
13674  24437.00  Côte d'Ivoire
13675      0.00  Côte d'Ivoire
13676   2784.00  Côte d'Ivoire
13677     59.67  Côte d'Ivoire
13678     56.02  Côte d'Ivoire
...         ...            ...
15136      9.00  Côte d'Ivoire
15137      0.36  Côte d'Ivoire
15138      0.00  Côte d'Ivoire
15139      0.01  Côte d'Ivoire
15140      0.00  Côte d'Ivoire

[1467 rows x 2 columns]


Area: Djibouti
         Y2017      Area
15141   944.00  Djibouti
15142     0.00  Djibouti
15143  2664.00  Djibouti
15144    66.30  Djibouti
15145    61.34  Djibouti
...        ...       ...
16231     8.00  Djibouti
16232     8.24  Djibouti
16233     9.00  Djibouti
16234     0.27  Djibouti
16235     0.11  Djibouti

[1095 rows x 2 columns]


Area: Egypt
          Y2017   Area
16236  96443.00  Egypt
16237      0.00  Egypt
16238   3344.00  Egypt
16239     98.41  Egypt
16240     57.81  Egypt
...         ...    ...
17719     17.00  Egypt
17720      0.18  Egypt
17721      0.00  Egypt
17722      0.01  Egypt
17723      0.00  Egypt

[1488 rows x 2 columns]


Area: Eswatini
         Y2017      Area
17724  1125.00  Eswatini
17725     0.00  Eswatini
17726  2405.00  Eswatini
17727    60.68  Eswatini
17728    46.06  Eswatini
...        ...       ...
19003     6.00  Eswatini
19004     5.36  Eswatini
19005     6.00  Eswatini
19006     0.18  Eswatini
19007     0.07  Eswatini

[1284 rows x 2 columns]


Area: Ethiopia
           Y2017      Area
19008  106400.00  Ethiopia
19009       0.00  Ethiopia
19010    2334.00  Ethiopia
19011      66.26  Ethiopia
19012      27.25  Ethiopia
...          ...       ...
20450      13.00  Ethiopia
20451       0.12  Ethiopia
20452       0.00  Ethiopia
20453       0.00  Ethiopia
20454       0.00  Ethiopia

[1447 rows x 2 columns]


Area: Ethiopia PDR
       Y2017          Area
20455    0.0  Ethiopia PDR
20456    0.0  Ethiopia PDR
20457    0.0  Ethiopia PDR
20458    0.0  Ethiopia PDR
20459    0.0  Ethiopia PDR
20460    0.0  Ethiopia PDR
20461    0.0  Ethiopia PDR
20462    0.0  Ethiopia PDR
20463    0.0  Ethiopia PDR
20464    0.0  Ethiopia PDR
20465    0.0  Ethiopia PDR
20466    0.0  Ethiopia PDR
20467    0.0  Ethiopia PDR
20468    0.0  Ethiopia PDR
20469    0.0  Ethiopia PDR
20470    0.0  Ethiopia PDR
20471    0.0  Ethiopia PDR
20472    0.0  Ethiopia PDR
20473    0.0  Ethiopia PDR
20474    0.0  Ethiopia PDR
20475    0.0  Ethiopia PDR
20476    0.0  Ethiopia PDR
20477    0.0  Ethiopia PDR
20478    0.0  Ethiopia PDR
20479    0.0  Ethiopia PDR
20480    0.0  Ethiopia PDR
20481    0.0  Ethiopia PDR
20482    0.0  Ethiopia PDR
20483    0.0  Ethiopia PDR
20484    0.0  Ethiopia PDR
20485    0.0  Ethiopia PDR
20486    0.0  Ethiopia PDR
20487    0.0  Ethiopia PDR
20488    0.0  Ethiopia PDR
20489    0.0  Ethiopia PDR
20490    0.0  Ethiopia PDR
20491    0.0  Ethiopia PDR
20492    0.0  Ethiopia PDR
20493    0.0  Ethiopia PDR


Area: Gabon
         Y2017   Area
20494  2065.00  Gabon
20495     0.00  Gabon
20496  2640.00  Gabon
20497    80.69  Gabon
20498    54.03  Gabon
...        ...    ...
21734    14.00  Gabon
21735     6.83  Gabon
21736     8.00  Gabon
21737     0.22  Gabon
21738     0.09  Gabon

[1245 rows x 2 columns]


Area: Gambia
         Y2017    Area
21739  2214.00  Gambia
21740     0.00  Gambia
21741  2544.00  Gambia
21742    65.61  Gambia
21743    61.40  Gambia
...        ...     ...
22902    15.00  Gambia
22903     6.77  Gambia
22904     8.00  Gambia
22905     0.22  Gambia
22906     0.09  Gambia

[1168 rows x 2 columns]


Area: Ghana
          Y2017   Area
22907  29121.00  Ghana
22908      0.00  Ghana
22909   3000.00  Ghana
22910     60.97  Ghana
22911     39.81  Ghana
...         ...    ...
24256     24.00  Ghana
24257      0.81  Ghana
24258      1.00  Ghana
24259      0.03  Ghana
24260      0.01  Ghana

[1354 rows x 2 columns]


Area: Guinea
          Y2017    Area
24261  12068.00  Guinea
24262      0.00  Guinea
24263   2731.00  Guinea
24264     57.42  Guinea
24265     68.19  Guinea
...         ...     ...
25666     20.00  Guinea
25667      1.68  Guinea
25668      2.00  Guinea
25669      0.06  Guinea
25670      0.02  Guinea

[1410 rows x 2 columns]


Area: Guinea-Bissau
         Y2017           Area
25671  1828.00  Guinea-Bissau
25672     0.00  Guinea-Bissau
25673  2233.00  Guinea-Bissau
25674    43.88  Guinea-Bissau
25675    62.09  Guinea-Bissau
...        ...            ...
26794     5.00  Guinea-Bissau
26795     2.55  Guinea-Bissau
26796     3.00  Guinea-Bissau
26797     0.08  Guinea-Bissau
26798     0.03  Guinea-Bissau

[1128 rows x 2 columns]


Area: Kenya
          Y2017   Area
26799  50221.00  Kenya
26800      0.00  Kenya
26801   2145.00  Kenya
26802     60.38  Kenya
26803     47.79  Kenya
...         ...    ...
28354     11.00  Kenya
28355      0.22  Kenya
28356      0.00  Kenya
28357      0.01  Kenya
28358      0.00  Kenya

[1560 rows x 2 columns]


Area: Lesotho
         Y2017     Area
28359  2092.00  Lesotho
28360     0.00  Lesotho
28361  2475.00  Lesotho
28362    73.31  Lesotho
28363    47.13  Lesotho
...        ...      ...
29504     2.00  Lesotho
29505     0.96  Lesotho
29506     1.00  Lesotho
29507     0.03  Lesotho
29508     0.01  Lesotho

[1150 rows x 2 columns]


Area: Liberia
         Y2017     Area
29509  4702.00  Liberia
29510     0.00  Liberia
29511  2157.00  Liberia
29512    41.32  Liberia
29513    51.32  Liberia
...        ...      ...
30710     8.00  Liberia
30711     1.68  Liberia
30712     2.00  Liberia
30713     0.06  Liberia
30714     0.02  Liberia

[1206 rows x 2 columns]


Area: Madagascar
          Y2017        Area
30715  25571.00  Madagascar
30716      0.00  Madagascar
30717   1943.00  Madagascar
30718     43.94  Madagascar
30719     25.26  Madagascar
...         ...         ...
32149     11.00  Madagascar
32150      0.44  Madagascar
32151      0.00  Madagascar
32152      0.01  Madagascar
32153      0.01  Madagascar

[1439 rows x 2 columns]


Area: Malawi
          Y2017    Area
32154  17670.00  Malawi
32155      0.00  Malawi
32156   2478.00  Malawi
32157     69.47  Malawi
32158     42.03  Malawi
...         ...     ...
33596      9.00  Malawi
33597      0.52  Malawi
33598      1.00  Malawi
33599      0.02  Malawi
33600      0.01  Malawi

[1447 rows x 2 columns]


Area: Mali
          Y2017  Area
33601  18512.00  Mali
33602      0.00  Mali
33603   2879.00  Mali
33604     82.74  Mali
33605     59.75  Mali
...         ...   ...
34889     27.00  Mali
34890      1.46  Mali
34891      2.00  Mali
34892      0.05  Mali
34893      0.02  Mali

[1293 rows x 2 columns]


Area: Mauritania
         Y2017        Area
34894  4283.00  Mauritania
34895     0.00  Mauritania
34896  2854.00  Mauritania
34897    80.81  Mauritania
34898    69.54  Mauritania
...        ...         ...
36084    20.00  Mauritania
36085     4.77  Mauritania
36086     5.00  Mauritania
36087     0.16  Mauritania
36088     0.07  Mauritania

[1195 rows x 2 columns]


Area: Mauritius
         Y2017       Area
36089  1264.00  Mauritius
36090     0.00  Mauritius
36091  3038.00  Mauritius
36092    86.89  Mauritius
36093    96.03  Mauritius
...        ...        ...
37462     6.00  Mauritius
37463     4.57  Mauritius
37464     5.00  Mauritius
37465     0.15  Mauritius
37466     0.06  Mauritius

[1378 rows x 2 columns]


Area: Morocco
          Y2017     Area
37467  35581.00  Morocco
37468      0.00  Morocco
37469   3366.00  Morocco
37470     99.78  Morocco
37471     68.20  Morocco
...         ...      ...
38855      0.00  Morocco
38856      0.00  Morocco
38857      0.00  Morocco
38858      0.00  Morocco
38859      0.00  Morocco

[1393 rows x 2 columns]


Area: Mozambique
          Y2017        Area
38860  28649.00  Mozambique
38861      0.00  Mozambique
38862   2074.00  Mozambique
38863     44.52  Mozambique
38864     39.80  Mozambique
...         ...         ...
40282     11.00  Mozambique
40283      0.39  Mozambique
40284      0.00  Mozambique
40285      0.01  Mozambique
40286      0.01  Mozambique

[1427 rows x 2 columns]


Area: Namibia
         Y2017     Area
40287  2403.00  Namibia
40288     0.00  Namibia
40289  2465.00  Namibia
40290    65.55  Namibia
40291    57.86  Namibia
...        ...      ...
41565    14.00  Namibia
41566     5.75  Namibia
41567     6.00  Namibia
41568     0.19  Namibia
41569     0.08  Namibia

[1283 rows x 2 columns]


Area: Niger
          Y2017   Area
41570  21602.00  Niger
41571      0.00  Niger
41572   2596.00  Niger
41573     82.47  Niger
41574     51.86  Niger
...         ...    ...
42968      0.00  Niger
42969      0.00  Niger
42970      0.00  Niger
42971      0.00  Niger
42972      0.00  Niger

[1403 rows x 2 columns]


Area: Nigeria
           Y2017     Area
42973  190873.00  Nigeria
42974       0.00  Nigeria
42975    2539.00  Nigeria
42976      58.33  Nigeria
42977      53.97  Nigeria
...          ...      ...
44442      76.00  Nigeria
44443       0.40  Nigeria
44444       0.00  Nigeria
44445       0.01  Nigeria
44446       0.01  Nigeria

[1474 rows x 2 columns]


Area: Rwanda
          Y2017    Area
44447  11981.00  Rwanda
44448      0.00  Rwanda
44449   2181.00  Rwanda
44450     59.73  Rwanda
44451     27.73  Rwanda
...         ...     ...
45868      5.00  Rwanda
45869      0.40  Rwanda
45870      0.00  Rwanda
45871      0.01  Rwanda
45872      0.01  Rwanda

[1426 rows x 2 columns]


Area: Sao Tome and Principe
         Y2017                   Area
45873   207.00  Sao Tome and Principe
45874     0.00  Sao Tome and Principe
45875  2407.00  Sao Tome and Principe
45876    52.73  Sao Tome and Principe
45877    72.28  Sao Tome and Principe
...        ...                    ...
47045     1.00  Sao Tome and Principe
47046     6.65  Sao Tome and Principe
47047     7.00  Sao Tome and Principe
47048     0.23  Sao Tome and Principe
47049     0.09  Sao Tome and Principe

[1177 rows x 2 columns]


Area: Senegal
          Y2017     Area
47050  15419.00  Senegal
47051      0.00  Senegal
47052   2556.00  Senegal
47053     62.67  Senegal
47054     64.17  Senegal
...         ...      ...
48507      0.00  Senegal
48508      0.00  Senegal
48509      0.00  Senegal
48510      0.00  Senegal
48511      0.00  Senegal

[1462 rows x 2 columns]


Area: Seychelles
       Y2017        Area
48512   0.57  Seychelles
48513   0.02  Seychelles
48514   0.00  Seychelles
48515   0.57  Seychelles
48516   0.02  Seychelles
...      ...         ...
48575   0.11  Seychelles
48576   0.01  Seychelles
48577   0.01  Seychelles
48578   0.01  Seychelles
48579   0.00  Seychelles

[68 rows x 2 columns]


Area: Sierra Leone
         Y2017          Area
48580  7488.00  Sierra Leone
48581     0.00  Sierra Leone
48582  2347.00  Sierra Leone
48583    50.85  Sierra Leone
48584    50.09  Sierra Leone
...        ...           ...
49817     9.00  Sierra Leone
49818     1.16  Sierra Leone
49819     1.00  Sierra Leone
49820     0.04  Sierra Leone
49821     0.02  Sierra Leone

[1242 rows x 2 columns]


Area: South Africa
          Y2017          Area
49822  57010.00  South Africa
49823      0.00  South Africa
49824   2936.00  South Africa
49825     83.64  South Africa
49826     82.53  South Africa
...         ...           ...
51216      0.00  South Africa
51217      0.00  South Africa
51218      0.00  South Africa
51219      0.00  South Africa
51220      0.00  South Africa

[1399 rows x 2 columns]


Area: Sudan
          Y2017   Area
51221  40813.00  Sudan
51222      0.00  Sudan
51223   2548.00  Sudan
51224     72.98  Sudan
51225     62.67  Sudan
...         ...    ...
52532     29.00  Sudan
52533      0.71  Sudan
52534      1.00  Sudan
52535      0.02  Sudan
52536      0.01  Sudan

[1316 rows x 2 columns]


Area: Sudan (former)
       Y2017            Area
52537    0.0  Sudan (former)
52538    0.0  Sudan (former)
52539    0.0  Sudan (former)
52540    0.0  Sudan (former)
52541    0.0  Sudan (former)
52542    0.0  Sudan (former)
52543    0.0  Sudan (former)
52544    0.0  Sudan (former)
52545    0.0  Sudan (former)
52546    0.0  Sudan (former)
52547    0.0  Sudan (former)
52548    0.0  Sudan (former)
52549    0.0  Sudan (former)
52550    0.0  Sudan (former)
52551    0.0  Sudan (former)
52552    0.0  Sudan (former)
52553    0.0  Sudan (former)
52554    0.0  Sudan (former)
52555    0.0  Sudan (former)
52556    0.0  Sudan (former)
52557    0.0  Sudan (former)
52558    0.0  Sudan (former)
52559    0.0  Sudan (former)
52560    0.0  Sudan (former)
52561    0.0  Sudan (former)
52562    0.0  Sudan (former)
52563    0.0  Sudan (former)
52564    0.0  Sudan (former)
52565    0.0  Sudan (former)
52566    0.0  Sudan (former)
52567    0.0  Sudan (former)
52568    0.0  Sudan (former)
52569    0.0  Sudan (former)
52570    0.0  Sudan (former)
52571    0.0  Sudan (former)
52572    0.0  Sudan (former)
52573    0.0  Sudan (former)
52574    0.0  Sudan (former)
52575    0.0  Sudan (former)
52576    0.0  Sudan (former)
52577    0.0  Sudan (former)
52578    0.0  Sudan (former)
52579    0.0  Sudan (former)
52580    0.0  Sudan (former)
52581    0.0  Sudan (former)
52582    0.0  Sudan (former)
52583    0.0  Sudan (former)
52584    0.0  Sudan (former)
52585    0.0  Sudan (former)
52586    0.0  Sudan (former)
52587    0.0  Sudan (former)
52588    0.0  Sudan (former)
52589    0.0  Sudan (former)


Area: Togo
         Y2017  Area
52590  7698.00  Togo
52591     0.00  Togo
52592  2433.00  Togo
52593    57.46  Togo
52594    52.05  Togo
...        ...   ...
53879    28.00  Togo
53880     3.65  Togo
53881     4.00  Togo
53882     0.12  Togo
53883     0.05  Togo

[1294 rows x 2 columns]


Area: Tunisia
          Y2017     Area
53884  11433.00  Tunisia
53885      0.00  Tunisia
53886   3457.00  Tunisia
53887    100.10  Tunisia
53888     97.13  Tunisia
...         ...      ...
55217      0.00  Tunisia
55218      0.00  Tunisia
55219      0.00  Tunisia
55220      0.00  Tunisia
55221      0.00  Tunisia

[1338 rows x 2 columns]


Area: Uganda
          Y2017    Area
55222  41167.00  Uganda
55223      0.00  Uganda
55224   2022.00  Uganda
55225     48.30  Uganda
55226     50.21  Uganda
...         ...     ...
56675     16.00  Uganda
56676      0.40  Uganda
56677      0.00  Uganda
56678      0.01  Uganda
56679      0.01  Uganda

[1458 rows x 2 columns]


Area: United Republic of Tanzania
          Y2017                         Area
56680  54660.00  United Republic of Tanzania
56681      0.00  United Republic of Tanzania
56682   2328.00  United Republic of Tanzania
56683     61.75  United Republic of Tanzania
56684     56.86  United Republic of Tanzania
...         ...                          ...
58094     13.00  United Republic of Tanzania
58095      0.24  United Republic of Tanzania
58096      0.00  United Republic of Tanzania
58097      0.01  United Republic of Tanzania
58098      0.00  United Republic of Tanzania

[1419 rows x 2 columns]


Area: Zambia
          Y2017    Area
58099  16854.00  Zambia
58100      0.00  Zambia
58101   1991.00  Zambia
58102     59.06  Zambia
58103     46.82  Zambia
...         ...     ...
59545     11.00  Zambia
59546      0.68  Zambia
59547      1.00  Zambia
59548      0.02  Zambia
59549      0.01  Zambia

[1451 rows x 2 columns]


Area: Zimbabwe
          Y2017      Area
59550  14237.00  Zimbabwe
59551      0.00  Zimbabwe
59552   1891.00  Zimbabwe
59553     43.83  Zimbabwe
59554     51.12  Zimbabwe
...         ...       ...
60938     19.00  Zimbabwe
60939      1.33  Zimbabwe
60940      1.00  Zimbabwe
60941      0.04  Zimbabwe
60942      0.02  Zimbabwe

[1393 rows x 2 columns]

In [36]:
df_2017 = df[df['Y2017'].notnull()]

# Calculate the sum of 'Y2017' for each area
area_sum_2017 = df_2017.groupby('Area')['Y2017'].sum()

# Find the area with the lowest sum in 2017
area_with_lowest_sum = area_sum_2017.idxmin()
lowest_sum = area_sum_2017.min()

# Display the area with the lowest sum and its corresponding sum value
print("Area with the lowest sum in 2017:", area_with_lowest_sum)
print("Lowest sum in 2017:", lowest_sum)

Area with the lowest sum in 2017: Ethiopia PDR
Lowest sum in 2017: 0.0

In [37]:
df_ghana_2017 = df[(df['Area'] == 'Ghana') & (df['Y2017'].notnull())]

# Calculate the sum of 'Y2017' for the specific area 'Ghana'
sum_ghana_2017 = df_ghana_2017['Y2017'].sum()

# Display the total sum for the specific area 'Ghana'
print("Total sum for Ghana in 2017:", sum_ghana_2017)

Total sum for Ghana in 2017: 337599.06

In [44]:
df_Comoros_2017 = df[(df['Area'] == 'Comoros') & (df['Y2017'].notnull())]


sum_Comoros_2017 = df_Comoros_2017['Y2017'].sum()


print("Total sum for Comoros in 2017:", sum_Comoros_2017)

Total sum for Comoros in 2017: 59.84

In [45]:
df_Seychelles_2017 = df[(df['Area'] == 'Seychelles') & (df['Y2017'].notnull())]


sum_Seychelles_2017 = df_Comoros_2017['Y2017'].sum()


print("Total sum for Seychelles in 2017:", sum_Seychelles_2017)

Total sum for Seychelles in 2017: 59.84

In [47]:
df_guinea_bissau_2017 = df[(df['Area'] == 'Guinea Bissau') & (df['Y2017'].notnull())]

# Calculate the sum of 'Y2017' for the specific area 'Guinea Bissau'
sum_guinea_bissau_2017 = df_guinea_bissau_2017['Y2017'].sum()

# Display the total sum for the specific area 'Guinea Bissau'
print("Total sum for Guinea Bissau in 2017:", sum_guinea_bissau_2017)

Total sum for Guinea Bissau in 2017: 0.0

In [48]:
df_cabo_verde_2017 = df[(df['Area'] == 'Cabo Verde') & (df['Y2017'].notnull())]

# Calculate the sum of 'Y2017' for the specific area 'Cabo Verde'
sum_cabo_verde_2017 = df_cabo_verde_2017['Y2017'].sum()

# Display the total sum for the specific area 'Cabo Verde'
print("Total sum for Cabo Verde in 2017:", sum_cabo_verde_2017)

Total sum for Cabo Verde in 2017: 14650.740000000002